* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.logo-navbar {
	width: 2.3rem;
	height: 2.3rem;
	margin-right: 8px;
  margin-left: 1.8rem;
}

.navbar-brand{
  margin-right: 91rem;
}

.nav-links {
	display: flex;
	list-style: none;
}

.nav-link {
	padding-left: 10rem;
  font-size: large;
}

#logo {
	font-weight: lighter;
	font-size: 2rem;
}

.landing {
	min-height: 93.2vh;
	background: url("../../images/stetoscope.jpg");
	background-size: cover;
	padding: 0rem;
}