* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.logo-navbar {
	width: 2.3rem;
	height: 2.3rem;
	margin-right: 8px;
  margin-left: 1.8rem;
}

.navbar-brand{
  margin-right: 91rem;
}

.nav-links {
	display: flex;
	list-style: none;
}

.nav-link {
	padding-left: 10rem;
  font-size: large;
}

#logo {
	font-weight: lighter;
	font-size: 2rem;
}

.landing {
	min-height: 93.2vh;
	background: url("../../images/stetoscope.jpg");
	background-size: cover;
	padding: 0rem;
}

#test-list{
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-gap: 1rem;
	border-radius: 15px 15px 15px 15px;
	padding-top: 2rem;
}

.framing-div{
	display: grid;
	grid-template-columns: 10rem 5rem;
	align-items: center;
}

.list-group-item{
	background: #378dfc;
	width: 71%;
}

.test-info-div{
	transform: translate(17%, 6%);
}

.test-image{
	width: 7rem;
	height: 7rem;
	transform: translate(23%, 0%);
}