* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.logo-navbar {
	width: 2.3rem;
	height: 2.3rem;
	margin-right: 8px;
    margin-left: 1.8rem;
}

.navbar-brand{
  margin-right: 87rem;
}

.nav-links {
	display: flex;
	list-style: none;
}

.nav-link {
	padding-left: 10rem;
    font-size: large;
}

#logo {
	font-weight: lighter;
	font-size: 2rem;
}

.landing {
	min-height: 93.2vh;
	background: url("../../images/stetoscope.jpg");
	background-size: cover;
	padding: 0rem;
}

.upper-row{
	display: grid;
	grid-template-columns: 21rem auto auto;
	padding-top: 2rem;
}

#search-bar{
	border-radius: 5px 0px 0px 5px;
	width: 20rem;
	margin-left: 1rem;
	margin-right: 0px;
}

#search-button{
	width: 1rem;
	border-radius: 0px 5px 0px 5px;
	align-items: center;
}

.search-image{
	width: 1.7rem;
	height: 1.7rem;
	transform: translate(-39%, 0);
}

#do-test{
	width: 19%;
	transform: translate(383%, 0);
}

#test-list{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 1rem;
	border-radius: 15px 15px 15px 15px;
	padding-top: 2rem;
}

.framing-div{
	display: grid;
	grid-template-columns: 10rem 5rem;
	align-items: center;
}

.list-group-item{
	background: #d9e3f1;
	width: 71%;
	border-radius: 15px;
}

.test-info-div{
	transform: translate(17%, 6%);
}

.test-image{
	width: 7rem;
	height: 7rem;
	transform: translate(23%, 0%);
}

.buttons-div{
	display: grid;
	grid-template-columns: auto auto;
	margin-top: 1rem;
}

#more-info-button{
	width: 90%;
	height: 90%
}

#redo-test{
	width: 90%;
	height: 90%;
}

.modal-content{
	border-radius: 15px;
}

.modal-body{
	background: #d9e3f1;
	border-radius: 0 0 15px 15px;
}

.modal-header{
	background: #d9e3f1;
	border-radius: 15px 15px 0 0;
}

.alert-text{
	font-size: large;
}

.text-row{
	display: flex;
    justify-content: center;
	margin-bottom: 1rem;
}

#decline-redo{
	margin-right: 1.8rem;
}

#agree-redo{
	margin-right: 1rem;
}

.buttons-row{
	display: flex;
    justify-content: flex-end;
}