* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.logo-navbar {
	width: 2.3rem;
	height: 2.3rem;
	margin-right: 8px;
    margin-left: 1.8rem;
}

.navbar-brand{
  margin-right: 91rem;
}

.nav-links {
	display: flex;
	list-style: none;
}

.nav-link {
	padding-left: 10rem;
    font-size: large;
}

#logo {
	font-weight: lighter;
	font-size: 2rem;
}

.landing {
	min-height: 93.2vh;
	display: flex;
    flex-direction: column;
	background: url("../../images/stetoscope.jpg");
	background-size: cover;
	padding: 0rem;
}

.register-card{
  height: 711px;
  width: 371px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

#username{
  margin-bottom: 1rem;
}

#email{
  margin-bottom: 1rem;
}

#first-name{
  margin-bottom: 1rem;
}

#last-name{
  margin-bottom: 1rem;
}

#password{
  margin-bottom: 1rem;
}

#address{
  margin-bottom: 1rem;
}

.age{
  margin-bottom: 1rem;
}

.age-select{
  display: grid;
  grid-template-columns: auto auto auto;
}

.day-select{
  width: 50%;
}

.month-select{
  width: 60%;
}

.year-select{
  width: 70%;
}

.radio{
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 1rem;
}

.button-field{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.username-image{
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.email-image{
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.first-name-image{
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.last-name-image{
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.date-image{
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.address-image{
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.gender-image{
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.password-image{
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.feedback-form{
  padding-bottom: 8px;
  padding-left: 16px;
  padding-top: 8px;
  padding-right: 16px;
}

.form-outer{
    width: 100%;
  }
 .form-outer form{
    display: flex;
    width: 400%;
  }
  .form-outer form .page{
    width: 25%;
  }
  .form-outer form .page .title{
    text-align: left;
    font-size: 25px;
    font-weight: 500;
  }
  .form-outer form .page .field{
    width: 330px;
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
  }
  form .page .field .label{
    position: absolute;
    top: -30px;
    font-weight: 500;
  }
  form .page .field input{
    height: 100%;
    width: 100%;
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
  }